

@font-face {
    font-family: 'AxureHandwriting';
    src: url('./assets/fonts/7f68a670100a48f475fc330a0eb0cc92.woff') format('woff'),
         url('./assets/fonts/7f68a670100a48f475fc330a0eb0cc92.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

.axureFont {
    font-family: 'AxureHandwriting';
}


